

.fave-btn {
    color: white;
    border-radius: 1em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    background-color:rgb(247, 77, 94);
    box-shadow: 1px 1px 5px #888888;
}

.fave-btn:hover {
    background-color: rgb(245, 135, 146)
}

.fave-btn span {
    font-size: 1rem;
    font-weight: 500;
}

svg.fave-icon {
    font-size: 1rem;
    margin-right: .5em;
}

  